.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 80px;
  padding: 10px 30px;
  background: rgba(112, 67, 224, 0.5);

  .logo {
    align-items: center;
    a img {
      width: 60px;
    }
  }

  .btn-container {
    display: flex;
    gap: 20px;

    .btn-link {
      border: 1px solid black;
      background: gray;
      padding: 5px 10px;
      color: #fff;
    }
  }
}
