<div class="ng-blog">
  <div class="container">
    <header class="header">
      <div class="container">
        <div class="banner"> some banner img</div>
        <div class="user-logo">user icon</div>
      </div>
      <div class="nav">
        <ul>
          <li>Главная</li>
          <li>Список категорий</li>
          <li>Все посты</li>
          <li>Библиотека</li>
          <li>Контакты</li>
        </ul>
      </div>
    </header>
    <main class="main">
      <div class="content">
        <div class="container">
          <div class="home-page">
            //some img or video bg plus lore
          </div>
          <div class="all-posts">
            <div class="post">some post 1</div>
            <div class="post">some post 2</div>
            <div class="post">some post 3</div>
            <div class="post">some post 4</div>
          </div>
          <div class="topics">
            <ul>
              <li class="topic">some topic 1</li>
              <li class="topic">some topic 2</li>
              <li class="topic">some topic 3</li>
              <li class="topic">some topic 4</li>
            </ul>
        </div>
        <div class="library">
          <div class="nav-menu"></div>
          <div class="container">
            //cards list
          </div>
        </div>
        <div class="about-us"></div>
      </div>
      </div>
      <div class="menu">
        <div class="container">
          <ul class="menu-list">
            <li class="menu-item">21</li>
            <li class="menu-item">22</li>
            <li class="menu-item">23</li>
            <li class="menu-item">24</li>
          </ul>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="nav">
        <ul>
          <li>Главная</li>
          <li>Список категорий</li>
          <li>Все посты</li>
          <li>Библиотека</li>
          <li>Контакты</li>
        </ul>
      </div>
    </footer>
  </div>
</div>


<router-outlet />
